.main-wrapper {
    header {
        &.bg-changed {
            background-color: $main_color;
            top: 0;
        }
    }

    .page {
        padding-top: 130px;

        section {
            &.about {
                padding: $padding_section;

                .title {
                    margin-bottom: 20px;
                }

                .about-text {
                    p {
                        color: #848484;
                        line-height: 2.2;
                    }
                }
            }

            &.begin {
                background: url(../images/bgs/bg1.png) center center;
                background-size: cover;
                position: relative;
                z-index: 1;

                &:hover {
                    &::before {
                        opacity: 1;
                    }

                    &::after {
                        opacity: 1;
                    }
                }

                &::before {
                    @extend %overlay;
                    width: 50%;
                    background-color: $main_color;
                    opacity: .8;
                    z-index: -1;
                    @include transition(all ease .3s);
                }

                &::after {
                    @extend %overlay;
                    width: 50%;
                    right: 0;
                    left: auto;
                    background-color: $second_color;
                    opacity: .8;
                    z-index: -1;
                    @include transition(all ease .3s);
                }

                .begin-content {
                    display: grid;
                    grid-template-columns: repeat(2, 50%);
                    padding: $padding_section;

                    .begin-box {
                        p {
                            margin-bottom: 0;
                        }

                        &:first-child {
                            padding-right: 30px;
                        }

                        &:last-child {
                            padding-right: 30px;
                            padding-left: 50px;
                        }

                        h3 {
                            color: #fff;
                            font-weight: 600;
                            margin-bottom: 25px;
                        }

                        p {
                            color: #fff;
                            line-height: 3;
                        }
                    }
                }
            }

            &.market {
                padding: $padding_section;
                background-color: #F2F2F2;

                .market-text {
                    padding-right: 70px;

                    p {
                        line-height: 3;
                        color: #848484;
                    }
                }

                .market-image {
                    height: 450px;

                    img {
                        object-fit: fill;
                        -o-object-fit: fill;
                        max-height: 100%;
                        width: auto;
                        max-width: 120%;
                    }
                }
            }

            &.team {
                padding: $padding_section;

                .team-content {
                    .team-box {
                        margin-bottom: 25px;
                        background-color: #F9F9F9;
                        @include borderRadius(10px);
                        overflow: hidden;

                        &:hover {
                            .team-image {
                                overflow: hidden;

                                img {
                                    @include transform(scale(1.05));
                                }
                            }
                        }

                        .team-image {
                            height: 250px;
                            overflow: hidden;
                            margin-bottom: 15px;

                            img {
                                @extend %fitimage;
                                @include transition(all ease .3s);
                            }
                        }

                        .team-text {
                            padding: 0 15px;

                            h3 {
                                color: #1E1E1E;
                                font-size: 18px;
                            }

                            p {
                                color: $second_color;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            &.service-details {
                padding: $padding_section;

                .subtitle {
                    display: grid;
                    grid-template-columns: max-content auto;
                    grid-column-gap: 20px;
                    align-items: center;
                    margin-bottom: 25px;

                    h2 {
                        font-size: 26px;
                        color: #1E1E1E;
                        margin-bottom: 0
                    }

                    i {
                        @extend %center;
                        color: $second_color;
                        @include borderRadius(50%);
                        height: 50px;
                        width: 50px;
                        box-shadow: 1px 1px 20px -10px rgb(29, 29, 29);
                    }
                }

                .service-content {
                    .service-text {
                        padding-right: 70px;

                        p {
                            line-height: 3;
                            color: #848484;
                        }
                    }

                    .service-image {
                        height: 300px;
                        @include borderRadius(10px);
                        overflow: hidden;

                        img {
                            @extend %fitimage;
                        }
                    }
                }
            }

            &.careers {
                padding: $padding_section;

                .careers-box {
                    background-color: #F9F9F9;
                    @include borderRadius(10px);
                    padding: 25px;
                    margin-bottom: 25px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .details {
                        h3 {
                            color: #1E1E1E;
                            font-size: 24px;
                            margin-bottom: 20px;
                        }

                        ul {
                            padding: 0;
                            margin-bottom: 20px;

                            li {
                                list-style: none;
                                position: relative;
                                color: #848484;
                                padding-left: 20px;
                                margin-bottom: 15px;
                                line-height: 1.2;
                                font-size: 16px;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    background-color: $second_color;
                                    left: 0;
                                    top: 5px;
                                    vertical-align: middle;
                                    width: 10px;
                                    height: 10px;
                                    @include borderRadius(50%);
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .clickable {
                            .btn {
                                @extend %btn_style;
                            }
                        }
                    }
                }
            }

            &.apply {
                padding: $padding_section;

                .apply-content {
                    max-width: 900px;
                    margin: auto;
                    text-align: center;

                    .form-area {
                        .form-group {
                            margin-bottom: 25px;

                            &.button {
                                .btn {
                                    @extend %btn_style;
                                    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
                                    padding: 10px 40px;
                                }
                            }
                        }

                        .form-control {
                            border: none;
                            @include transition(all ease .3s);
                            color: #848484;
                            background-color: #F6F6F6;
                            font-size: 14px;
                            padding: 15px;
                            border-bottom: 1px solid transparent;
                            @include borderRadius(10px);

                            &:hover,
                            &:focus {
                                box-shadow: none;
                                outline: none;
                                border-color: #5A5A5A
                            }

                            &::placeholder {
                                color: #79859C;
                            }
                        }
                    }

                    .upload {
                        text-align: initial;
                        position: relative;
                        @extend %center;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 50px;

                        i {
                            margin-right: 10px;
                            background-color: $second_color;
                            height: 30px;
                            width: 30px;
                            @extend %center;
                            color: #fff;
                        }

                        .input-file {
                            input[type="file"] {
                                visibility: hidden;
                                width: 1px;
                                height: 1px;
                            }

                            .text {
                                color: #848484;
                                cursor: pointer;
                                text-decoration: underline;
                            }

                            .file-selected {
                                font-size: 16px;
                                margin: 0 15px;
                            }
                        }
                    }

                    .successfully {
                        color: #ffffff;
                        padding: 9px 15px;
                        font-size: 16px;
                        margin-bottom: 0;
                        @include borderRadius(25px);
                        margin-top: 25px;
                        box-shadow: 1px 1px 25px -15px #646464;
                        background-color: $second_color;
                    }
                }
            }

            &.blogs {
                padding: $padding_section;

                .blogs-content {
                    .box {
                        margin-bottom: 25px;

                        &:last-child {
                            margin-bottom: 0
                        }
                    }

                    .blogs-box {
                        @include borderRadius(10px);
                        overflow: hidden;
                        background-color: #F9F9F9;
                        &:hover {
                            .blogs-image {
                                &::after {
                                    opacity: 0;
                                }
                            }
                        }
                        .blogs-image {
                            height: 250px;
                            position: relative;
                            margin-bottom: 10px;

                            &::after {
                                @extend %overlay;
                                background-color: rgba(0, 0, 0, .3);
                                @include transition(all ease .3s);
                            }

                            img {
                                @extend %fitimage;
                            }
                        }

                        .blogs-text {
                            padding: 25px;

                            h3 {
                                color: #1E1E1E;
                                font-size: 18px;
                            }

                            p {
                                color: #848484;
                                font-size: 15px;
                                line-height: 2;
                                margin-bottom: 25px
                            }

                            .blogs-buttons {
                                .btn {
                                    @extend %btn_style;
                                }
                            }
                        }
                    }
                }
            }

            &.single-blog {
                padding: $padding_section;

                .single-blog-content {
                    .post-image {
                        height: 400px;
                        @include borderRadius(10px);
                        overflow: hidden;
                        margin-bottom: 25px;
                        position: relative;

                        &::after {
                            @extend %overlay;
                            background-color: rgba(0, 0, 0, .3)
                        }

                        img {
                            @extend %fitimage;
                        }
                    }

                    .post-text {
                        .post-title {
                            color: $second_color;
                            font-size: 26px;
                            font-weight: 600;
                        }

                        .post-details {
                            font-size: 16px;
                            line-height: 2.5;
                            color: #1E1E1E;
                        }
                    }
                }
            }

            &.solutions {
                background-color: #fff;

                &:nth-child(even) {
                    background-color: #F9F9F9
                }

                .more {
                    .demo {
                        margin-right: 25px;
                    }

                    .offer {
                        background-color: $main_color;
                    }
                }
            }

            &.build-project {
                @extend .apply;

                .build-content {
                    @extend .apply-content;

                    .form-area {
                        @extend .form-area;

                        .custom-select-wrapper {
                            position: relative;
                            display: block;
                            user-select: none;
                            text-align: left;
                        }

                        .custom-select-wrapper select {
                            display: none;
                        }

                        .custom-select {
                            position: relative;
                            display: inline-block;
                        }

                        .custom-select-trigger {
                            position: relative;
                            border-radius: 4px;
                            cursor: pointer;
                            transition: all 0.3s;
                            display: block;
                        }

                        .custom-select-trigger:after {
                            position: absolute;
                            display: block;
                            content: '\f0dd';
                            font-family: "Font Awesome 5 Free";
                            font-size: 25px;
                            font-weight: 600;
                            color: $second_color;
                            top: -10px;
                            right: 10px;
                            transition: all 0.4s ease-in-out;
                            -webkit-transition: all 0.4s ease-in-out;
                            -moz-transition: all 0.4s ease-in-out;
                            -ms-transition: all 0.4s ease-in-out;
                            -o-transition: all 0.4s ease-in-out;
                        }

                        .custom-select.opened .custom-select-trigger:after {
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            top: 0;
                        }

                        .custom-options {
                            position: absolute;
                            display: block;
                            top: 100%;
                            left: 0;
                            right: 0;
                            margin: 10px 0;
                            border: 1px solid #f6f6f6;
                            border-radius: 4px;
                            box-sizing: border-box;
                            box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
                            background: #fff;
                            transition: all 0.4s ease-in-out;
                            opacity: 0;
                            visibility: hidden;
                            pointer-events: none;
                            transform: translateY(-15px);
                            z-index: 9;
                        }

                        .custom-select.opened .custom-options {
                            opacity: 1;
                            visibility: visible;
                            pointer-events: all;
                            transform: translateY(0);
                        }

                        .custom-options:before {
                            position: absolute;
                            display: block;
                            content: '';
                            bottom: 100%;
                            right: 28px;
                            width: 7px;
                            height: 7px;
                            margin-bottom: -4px;
                            border-top: 1px solid #f6f6f6;
                            border-left: 1px solid #f6f6f6;
                            background: #fff;
                            transform: rotate(45deg);
                            transition: all 0.4s ease-in-out;
                        }

                        .option-hover:before {
                            background: #f9f9f9;
                        }

                        .custom-option {
                            position: relative;
                            display: block;
                            padding: 0 15px;
                            border-bottom: 1px solid #f6f6f6;
                            font-size: 14px;
                            font-weight: 500;
                            color: #848484;
                            line-height: 3;
                            cursor: pointer;
                            transition: all 0.15s ease-in-out;
                        }

                        .custom-option:first-of-type {
                            border-radius: 4px 4px 0 0;
                        }

                        .custom-option:last-of-type {
                            border-bottom: 0;
                            border-radius: 0 0 4px 4px;
                        }

                        .custom-option:hover,
                        .custom-option.selection {
                            background: #f2f0f0;
                            color: $second_color;
                        }

                        //js slider
                        .custom-range {
                            .jslider_round {
                                .jslider-pointer {
                                    @include transform(scale(1.4))
                                }
                            }

                            .layout-slider {
                                width: 100%;
                                margin-bottom: 50px;

                                .subtitle {
                                    color: #1E1E1E;
                                    text-align: left;
                                    margin-bottom: 30px;
                                    font-size: 18px;
                                }

                                .jslider {
                                    .jslider-bg {
                                        transform: scaleY(2);
                                    }

                                    .jslider-value {
                                        font-size: 14px;
                                        top: -20px;
                                        left: 22%;
                                        background: transparent;
                                        line-height: 0;
                                        color: #909090;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.portfolio {
                padding: $padding_section;

                .portfolio-content {
                    .portfolio-box {
                        background-color: #F9F9F9;
                        margin-bottom: 25px;
                        padding: 20px;
                        @include borderRadius(10px);
                        position: relative;
                        overflow: hidden;

                        &::after {
                            @extend %overlay;
                            background-color: $second_color;
                            z-index: -1;
                            width: 0;
                            @include transition(all ease .5s);
                        }
                        &:hover {
                            background-color: transparent;
                            &::after {
                                width: 100%;
                            }
                            .portfolio-image {
                                h3 {
                                    color: #fff;
                                }
    
                                img {
                                    
                                }
                            }
    
                            .portfolio-text {
                                margin-bottom: 30px;
    
                                p {
                                    color: #fff;
                                }
                            }
    
                            .portfolio-buttons {
                                .btn {
                                    background-color: $main_color;
                                    &.hvr-sweep-to-bottom{
                                        &::before {
                                            background-color: $second_color;
                                        }
                                    }
                                }
                            }
                        }

                        .portfolio-image {
                            display: grid;
                            grid-template-columns: 50px auto;
                            align-items: center;
                            grid-column-gap: 15px;
                            margin-bottom: 20px;

                            h3 {
                                font-size: 20px;
                                margin-bottom: 0;
                                @include transition(all ease .3s);
                            }

                            img {
                                max-width: 100%;
                                max-height: 100%;
                                @include transition(all ease .3s);
                            }
                        }

                        .portfolio-text {
                            margin-bottom: 35px;
                            @include transition(all ease .3s);

                            p {
                                color: #848484;
                                line-height: 2;
                                @include transition(all ease .3s);
                            }
                        }

                        .portfolio-buttons {
                            text-align: center;

                            .btn {
                                @extend %btn_style;
                                padding: 8px 40px;
                                @include transition(all ease .3s);
                            }
                        }
                    }
                }
            }

            &.plans {
                padding: $padding_section;

                .plans-content {
                    .plans-box {
                        background-color: #F2F2F2;
                        @include borderRadius(5px);
                        &:hover {
                            .plans-type {
                                background-color: $main_color
                            }
                            .plans-price {
                                h3 {
                                    color: $second_color;
                                }
                            }
                        }
                        .plans-type {
                            @include borderRadius(5px);
                            text-align: center;
                            padding: 15px;
                            background-color: $second_color;
                            margin-bottom: 15px;
                            @include transition(all ease .3s);
                            h2 {
                                color: #fff;
                                font-size: 18px;
                                margin-bottom: 0;
                            }
                        }

                        .plans-price {
                            text-align: center;
                            margin-bottom: 15px;

                            h3 {
                                color: $main_color;
                                font-size: 40px;
                                margin-bottom: 0;
                                font-weight: 600;
                                @include transition(all ease .3s);
                            }

                            span.per {
                                font-size: 14px;
                                color: #171D5B;
                            }
                        }

                        .plans-details {
                            padding: 15px;

                            ul {
                                padding: 0;

                                li {
                                    color: #1E1E1E;
                                    list-style: none;
                                    padding-left: 20px;
                                    font-size: 14px;
                                    margin-bottom: 15px;
                                    position: relative;
                                    white-space: nowrap;

                                    &::before {
                                        position: absolute;
                                        content: "";
                                        left: 0;
                                        width: 10px;
                                        height: 10px;
                                        top: 5px;
                                        border: 3px solid $second_color;
                                        @include borderRadius(50%);
                                        @include transition(all ease .3s);
                                    }
                                    &:hover {
                                        &::before {
                                            background-color: $second_color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.contact {
                padding: 70px 0 0;

                .contact-info {
                    margin-bottom: 35px;

                    .info-content {
                        .info-box {
                            position: relative;
                            padding-left: 60px;
                            margin-bottom: 35px;
                            &:hover {
                                i {
                                    box-shadow: none;
                                    border-color: #eee;
                                    @include transform(rotate(360deg));
                                }
                            }
                            span {
                                color: #1E1E1E;
                                font-weight: 500;
                                font-size: 15px;
                            }

                            p {
                                font-size: 14px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                color: #A1A1A1;

                                a {
                                    color: #A1A1A1;
                                    text-decoration: none;
                                    @include transition(all ease .3s);

                                    &:hover {
                                        color: $main_color;
                                    }
                                }
                            }

                            i {
                                position: absolute;
                                left: 0;
                                color: $second_color;
                                font-size: 20px;
                                top: 0;
                                @include transition(all ease .3s);
                                box-shadow: 1px 1px 20px -10px rgb(29, 29, 29);
                                height: 50px;
                                width: 50px;
                                @include borderRadius(50%);
                                @extend %center;
                                border: 1px solid transparent;
                            }

                            &:hover {
                                i {
                                    color: $second_color;
                                }
                            }
                        }
                    }

                    .branchs {
                        .branch {
                            display: grid;
                            grid-template-columns: 50px auto;
                            grid-column-gap: 20px;
                            margin-bottom: 15px;

                            .icon {
                                img {
                                    width: 48px;
                                    height: 38px;
                                }
                            }

                            .text {
                                h3 {
                                    color: #1E1E1E;
                                    font-size: 20px;
                                    margin-bottom: 0;
                                }

                                p {
                                    font-size: 16px;

                                    a {
                                        color: #A1A1A1;
                                        @include transition(all ease .3s);
                                        &:hover {
                                            color: $second_color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .contact-form {
                    position: relative;

                    &::before {
                        @extend %overlay;
                        background-color: #F9F9F9;
                        z-index: -1;
                        width: 50%;
                    }

                    &::after {
                        @extend %overlay;
                        background-color: #EFEFEF;
                        z-index: -1;
                        width: 50%;
                        right: 0;
                        left: auto;
                    }

                    .subtitle {
                        text-align: center;
                        margin-bottom: 15px;

                        h3 {
                            font-size: 20px;
                            color: #1E1E1E;
                        }
                    }

                    .map {
                        padding: 30px 30px 30px 0;

                        iframe {
                            height: 450px;
                            width: 100%;
                            @include borderRadius(5px);
                            overflow: hidden;
                        }
                    }

                    .form-area {
                        padding: 30px;

                        form {
                            margin-top: 40px;
                        }

                        .form-group {
                            margin-bottom: 20px;

                            &.subm {
                                text-align: right;
                            }

                            .btn {
                                background-color: $second_color;
                                padding: 10px 30px;
                                @include borderRadius(10px);
                                border-color: $second_color;
                                width: 100%;
                                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
                            }
                        }

                        .form-control {
                            border: none;
                            @include transition(all ease .3s);
                            color: #333;
                            background-color: #fff;
                            font-size: 14px;
                            padding: 12px 15px;
                            border: 1px solid #C7C7C7;
                            @include borderRadius(5px);

                            &:hover,
                            &:focus {
                                box-shadow: none;
                                outline: none;
                                border-color: #5A5A5A
                            }

                            &::placeholder {
                                color: #79859C;
                            }
                        }

                        textarea {
                            resize: none;
                        }
                    }

                    .successfully {
                        background-color: #F2F5FD;
                        color: #00274A;
                        padding: 9px 15px;
                        font-size: 16px;
                        margin-bottom: 0;
                        @include borderRadius(5px);
                    }
                }
            }
        }
    }

    section.error404 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: $main_color;

        .error-content {
            text-align: center;

            h2 {
                color: #fff;
                font-size: 150px;
                font-weight: 600;
            }

            p {
                color: $second_color;
                font-size: 35px;
            }

            .btn {
                @extend %btn_style;
                box-shadow: none;
                text-transform: capitalize;
                font-size: 18px;
            }
        }
    }
}