/** rtl styles **/
html[dir=rtl] {
    body {
        font-family: "Tajawal", sans-serif;
    }

    /***********/
    section.top-nav {
        .topnav-content {
            .part {
                .icon {
                    i {
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }

                .text {
                    span {
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }

                .language {
                    span {
                        margin-right: 5px;
                    }
                }
            }

            .box {
                border-right: none;
                border-left: 1px solid rgba(255, 255, 255, 0.5);

                &:nth-last-child(2) {
                    border-left: none;
                }

                &:nth-last-child(1) {
                    border-left: none;
                }
            }
        }
    }

    /***********/

    /***********/
    section.slider {
        .slider-content {
            .single-slide {
                &::after {
                    background: linear-gradient(-120deg, rgba(16, 38, 96, 0.85) 0%, rgba(16, 38, 96, 0.85) 80%, transparent 80%, transparent 81%, rgba(16, 38, 96, 0.85) 81%, rgba(16, 38, 96, 0.85) 90%, transparent 90%, transparent 91%, rgba(236, 138, 0, 0.85) 91%);
                }

                .slider-text {
                    text-align: right;

                    p {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    /***********/

    /***********/
    section.search {
        @include transform(scaleX(-1));
        .search-content{
            @include transform(scaleX(-1));
        }
        .search-content {
            .part {
                .slugins {
                    direction: ltr;
                    text-align: right;

                    a {
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
                .input-group {
                    .form-outline{
                        .form-control {
                            margin-right: 0;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    /***********/

    /***********/
    section.solutions {
        .lines {
            @include transform(rotate(-55deg));
            right: -210px;
            left: auto;
        }
        .solutions-content {
            .details-part {
                ul {
                    li {
                        padding-left: 0;
                        padding-right: 25px;

                        &::before {
                            right: 0;
                            left: auto;
                        }
                    }
                }
            }

            .buttons-part {
                a {
                    text-decoration: none;

                    i {
                        margin-right: 0;
                        margin-left: 10px;
                    }

                    &:first-child {
                        margin-right: 0;
                        margin-left: 50px;
                    }
                }
            }
        }
    }

    /***********/

    /***********/
    section.cost {
        &::after {
            background: linear-gradient(-115deg, rgba(23, 29, 91, 0.8) 0%, rgba(23, 29, 91, 0.8) 77%, transparent 77%, transparent 79%, rgba(23, 29, 91, 0.8) 79%, rgba(23, 29, 91, 0.8) 84%, transparent 84%, transparent 86%, rgba(236, 138, 0, 0.85) 86%, rgba(236, 138, 0, 0.85) 91%, transparent 91%, transparent 100%);
        }
    }
    /***********/

    /***********/
    section.most {
        .most-content {
            .box {
                border-left: 1px solid #E5E5E5;
                border-right: none;
                &:last-child {
                    border: none;
                }
            }
        }
    }
    /***********/

    /***********/
    section.offers {
        .offers-content {
            .box{
                &::after {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
    /***********/

    /***********/
    section.services {
        .services-content {
            .box {
                border-left: 1px solid #E5E5E5;
                border-right: none;
                &:last-child {
                    border: none;
                }
            }
        }
    }
    /***********/

    /***********/
    section.steps {
        .steps-content {
            .steps-box {
                .step {
                    left: 25%;
                    right: auto;
                }
                &::after {
                    left: 60%;
                    right: auto;
                }
            }
        }
    }
    /***********/

    /***********/
    .main-wrapper {
        .page {
            section{
                &.begin {
                    .begin-content {
                        .begin-box{
                            &:first-child {
                                padding-right: 0;
                                padding-left: 30px;
                            }
                            &:last-child {
                                padding-right: 50px;
                                padding-left: 30px;
                            }
                        }
                    }
                }
                &.solutions {
                    .more {
                        .demo {
                            margin-right: 0;
                            margin-left: 25px;
                        }
                    }
                }
                &.plans {
                    .plans-content {
                        .plans-box {
                            .plans-details{
                                ul {
                                    li {
                                        padding-right: 20px;
                                        padding-left: 0;
                                        &::before {
                                            right: 0;
                                            left: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.contact {
                    .contact-info {
                        .info-content {
                            .info-box {
                                padding-right: 60px;
                                padding-left: 0;
                                i {
                                    right: 0;
                                    left: auto;
                                }
                            }
                        }
                    }
                    .contact-form {
                        .map {
                            padding: 30px 0 30px 30px;
                        }
                    }
                }
            }
        }
    }
    /***********/
}
    /** rtl styles **/