footer
    div(class="container")
        div(class="footer-content")
            .footer-logo 
                img(src="images/logo.png", alt="")
            .footer-contact 
                .row 
                    .col-lg-4.box
                        .info-box
                            .icon 
                                i(class="fas fa-headset")
                            .info-details
                                h3 HELP CENTER 
                                a(dir="ltr" href="tel:+2 0181000192901") +2 0181000192901
                    .col-lg-4.box
                        .info-box
                            .icon 
                                i(class="far fa-envelope")
                            .info-details
                                h3 E-mail 
                                a(href="mailto:Support@perfectwork.com") Support@perfectwork.com
                    .col-lg-4.box
                        .info-box
                            .icon 
                                i(class="fas fa-map-marker-alt") 
                            .info-details
                                h3 Our address 
                                p 122 sirya st, elmohandseen
        .copyright 
            .links 
                ul 
                    li 
                        a(href='index.html') home
                    li
                        a(href='about.html') about
                    li
                        a(href='services.html') services
                    li
                        a(href='solutions.html') solutions
                    li
                        a(href='portfolio.html') portfolio
                    li
                        a(href='blogs.html') blogs
                    li
                        a(href='plans.html') team
                    li
                        a(href='plans.html') careers
                    li
                        a(href='plans.html') offers
                    li
                        a(href='contact.html') contact us
            .copy-text
                p Copyrights &copy; Perfect work group