header
    section(class="top-nav")
        .container
            .topnav-content
                .row 
                    div(class="col-6 col-sm-6 col-md-5 col-lg-3 box")
                        .part
                            .icon
                                i(class="fas fa-headset")
                            .text
                                span.d-none.d-md-inline help center:
                                a(href="tel:") +2 0181000192901
                    div(class="col-4 col-sm-4 col-md-4 box d-none d-lg-block")
                        .part
                            .icon
                                i(class="far fa-envelope") 
                            .text 
                                span E-mail:
                                a(href="mailto:") Support@perfect.com
                    div(class="col-4 col-sm-4 col-md-5 col-lg-4 box")
                        .part.social-media
                            .icon.d-none.d-md-inline
                                i(class="far fa-thumbs-up")
                            .text.d-none.d-md-inline
                                span Social media:
                            ul 
                                li 
                                    a(href="", target="_blank")
                                        i(class="fab fa-facebook-f") 
                                li 
                                    a(href="", target="_blank")
                                        i(class="fab fa-twitter") 
                                li 
                                    a(href="", target="_blank")
                                        i(class="fab fa-linkedin-in") 
                                li 
                                    a(href="", target="_blank")
                                        i(class="fab fa-instagram")
                    div(class="col-2 col-sm-2 col-md-2 col-lg-1 box")
                        .part
                            .language 
                                a(href="" title="English") EN 
                                span |
                                a(href="arabic/index.html" title="Arabic") AR 
    nav(class='navbar navbar-expand-lg navbar-light')
        div(class='container')
            a(class="navbar-brand" href="index.html")
                img(src="images/logo.png", class="img-fluid", alt="")
            button(class='navbar-toggler' type='button')
                span
            div(class='collapse navbar-collapse')
                ul(class='navbar-nav')
                    li(class='nav-item')
                        a(class='nav-link active' aria-current='page' href='index.html') home
                    li(class='nav-item')
                        a(class='nav-link' href='about.html') about
                    li(class='nav-item')
                        a(class='nav-link' href='services.html') services
                    li(class='nav-item')
                        a(class='nav-link' href='solutions.html') solutions
                    li(class='nav-item')
                        a(class='nav-link' href='portfolio.html') portfolio
                    li(class='nav-item')
                        a(class='nav-link' href='blogs.html') blogs
                    li(class='nav-item')
                        a(class='nav-link' href='plans.html') plans
                    li(class='nav-item')
                        a(class='nav-link' href='contact.html') contact us