section(class="partners" dir="ltr")
    div(class="container")
        .partners-content
            .partners-carousel.owl-carousel.owl-theme
                .single-item
                    .inner
                        img(src="images/partners/01.png", class="img-fluid", alt="")
                .single-item
                    .inner
                        img(src="images/partners/02.png", class="img-fluid", alt="")
                .single-item
                    .inner
                        img(src="images/partners/03.png", class="img-fluid", alt="")
                .single-item
                    .inner
                        img(src="images/partners/01.png", class="img-fluid", alt="")
                .single-item
                    .inner
                        img(src="images/partners/02.png", class="img-fluid", alt="")
                .single-item
                    .inner
                        img(src="images/partners/03.png", class="img-fluid", alt="")