section(class="offers")
    div(class="container")
        div(class="title")
            h2 Our 
                span offers
        div(class="offers-content")
            div(class="row")
                div(class="col-md-12 col-lg-4 box")
                    div(class="offers-box wow fadeInUp" data-wow-duration="1s")
                        div(class="offers-image")
                            img(src="images/offers/01.png", alt="")
                        div(class="offers-text")
                            p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.
                        div(class="offers-buttons")
                            a(href="" class="btn hvr-sweep-to-bottom") Request offer
                div(class="col-md-12 col-lg-4 box")
                    div(class="offers-box wow fadeInUp" data-wow-duration="1s")
                        div(class="offers-image")
                            img(src="images/offers/02.png", alt="")
                        div(class="offers-text")
                            p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.
                        div(class="offers-buttons")
                            a(href="" class="btn hvr-sweep-to-bottom") Request offer
                div(class="col-md-12 col-lg-4 box")
                    div(class="offers-box wow fadeInUp" data-wow-duration="1s")
                        div(class="offers-image")
                            img(src="images/offers/03.png", alt="")
                        div(class="offers-text")
                            p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.
                        div(class="offers-buttons")
                            a(href="" class="btn hvr-sweep-to-bottom") Request offer