section(class="services")
    div(class="container")
        div(class="title")
            h2 Our 
                span services
            p We are here to help you to grow your business.
        div(class="services-content")
            div(class="row")
                div(class="col-md-6 col-lg-3 box")
                    div(class="services-box wow fadeInUp" data-wow-duration="1s")
                        div(class="services-box-icon")
                            img(src="images/services/ico1.png" class="img-fluid" alt="")
                        div(class="services-box-details")
                            h3 Mobile apps
                            p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.
                div(class="col-md-6 col-lg-3 box")
                    div(class="services-box wow fadeInUp" data-wow-duration="1s")
                        div(class="services-box-icon")
                            img(src="images/services/ico2.png" class="img-fluid" alt="")
                        div(class="services-box-details")
                            h3 Websites
                            p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.
                div(class="col-md-6 col-lg-3 box")
                    div(class="services-box wow fadeInUp" data-wow-duration="1s")
                        div(class="services-box-icon")
                            img(src="images/services/ico3.png" class="img-fluid" alt="")
                        div(class="services-box-details")
                            h3 Costumed prog
                            p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.
                div(class="col-md-6 col-lg-3 box")
                    div(class="services-box wow fadeInUp" data-wow-duration="1s")
                        div(class="services-box-icon")
                            img(src="images/services/ico4.png" class="img-fluid" alt="")
                        div(class="services-box-details")
                            h3 Network
                            p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.