section(class="cost")
    div(class="container")
        div(class="cost-content")
            div(class="title")
                h2 You can calculate your website cost
            .buttons-part 
                a(href="" class="btn hvr-sweep-to-bottom") Calculate it 
            div(class="cost")
