section.loading 
    img(src="images/loading.gif", class="img-fluid", alt="")
script(src="js/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/fontawesome.min.js")
script(src="js/wow.min.js")
script(src="js/jquery.fancybox.js")
script(src="js/waypoints.min.js")
script(type='text/javascript' src='js/range/tmpl.js')
script(type='text/javascript' src='js/range/jquery.dependClass-0.1.js')
script(type='text/javascript' src='js/range/draggable-0.1.js')
script(type='text/javascript' src='js/range/jquery.slider.js')
script(src="js/script.js")
