section.slider(dir="ltr")
    .slider-content
        .slider-carousel.owl-carousel.owl-theme
            .single-slide(style="background-image: url(images/slider/slider.png);")
                .container
                    .slider-text
                        h2 PROVIDES TO MAKE 
                            span BETTER SOFTWARE
                        p Perfect workgroup is a professional company working in three main work fields software solutions (web solutions, mobile application development.
            .single-slide(style="background-image: url(images/slider/slider.png);")
                .container
                    .slider-text
                        h2 PROVIDES TO MAKE 
                            span BETTER SOFTWARE
                        p Perfect workgroup is a professional company working in three main work fields software solutions (web solutions, mobile application development.
            .single-slide(style="background-image: url(images/slider/slider.png);")
                .container
                    .slider-text
                        h2 PROVIDES TO MAKE 
                            span BETTER SOFTWARE
                        p Perfect workgroup is a professional company working in three main work fields software solutions (web solutions, mobile application development.

section.search
    .container
        .search-content 
            .row 
                .col-lg-6.box
                    .part 
                        h2.subtitle Search the best domains
                        .slugins 
                            a(href="") .Net 
                            a(href="") .com 
                            a(href="") .site 
                            a(href="") .online 
                            a(href="") .website 
                .col-lg-6.box
                    .part 
                        form(action="") 
                            .input-group
                                .form-outline
                                    input.form-control(type='search' placeholder="search...")
                                    button.btn.hvr-sweep-to-right(type='button') Search 