extend index

block website_title
    title برفكت | من نحن

block home_index
    div(class="page")
        section(class="about")
            div(class="container")
                div(class="title")
                    h2 لماذا
                        span تختارنا؟
                div(class="about-content")
                    .about-text
                        p  عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او.
        section(class="begin")
            div(class="container")
                div(class="begin-content")
                    .begin-box
                        h3 البداية
                        p  عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او.
                    .begin-box
                        h3 التطوير
                        p  عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او.
        section(class="market")
            div(class="container")
                div(class="title")
                    h2 توقعات 
                        span السوق
                div(class="market-content")
                    .row 
                        .col-lg-7
                            .market-text
                                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او.
                        .col-lg-5
                            .market-image
                                img(src="../images/about/map.png", alt="")
        section(class="team")
            div(class="container")
                div(class="title")
                    h2 فريق  
                        span العمل
                div(class="team-content")
                    div(class="row")
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="../images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 محمد محسن
                                    p مطور مواقع