extend index

block website_title
    title Perfect | careers

block home_index
    div(class="page")
        section(class='careers')
            div(class='container')
                div(class='title')
                    h2: span careers
                div(class='careers-box wow fadeInUp' data-wow-duration='1s')
                    div(class='details')
                        h3 Front end developer
                        ul 
                            li Feature 1 here
                            li Publishing industries for previewing layouts and mockups
                            li Lorem ipsum is placeholder text commonly
                            li placeholder text commonly used in the graphic 
                        .clickable
                            a.btn(class="hvr-sweep-to-bottom" href="apply.html") Apply
                div(class='careers-box wow fadeInUp' data-wow-duration='1s')
                    div(class='details')
                        h3 Front end developer
                        ul 
                            li Feature 1 here
                            li Publishing industries for previewing layouts and mockups
                            li Lorem ipsum is placeholder text commonly
                            li placeholder text commonly used in the graphic 
                        .clickable
                            a.btn(class="hvr-sweep-to-bottom" href="apply.html") Apply
                div(class='careers-box wow fadeInUp' data-wow-duration='1s')
                    div(class='details')
                        h3 Front end developer
                        ul 
                            li Feature 1 here
                            li Publishing industries for previewing layouts and mockups
                            li Lorem ipsum is placeholder text commonly
                            li placeholder text commonly used in the graphic 
                        .clickable
                            a.btn(class="hvr-sweep-to-bottom" href="apply.html") Apply
                div(class='careers-box wow fadeInUp' data-wow-duration='1s')
                    div(class='details')
                        h3 Front end developer
                        ul 
                            li Feature 1 here
                            li Publishing industries for previewing layouts and mockups
                            li Lorem ipsum is placeholder text commonly
                            li placeholder text commonly used in the graphic 
                        .clickable
                            a.btn(class="hvr-sweep-to-bottom" href="apply.html") Apply
                div(class='careers-box wow fadeInUp' data-wow-duration='1s')
                    div(class='details')
                        h3 Front end developer
                        ul 
                            li Feature 1 here
                            li Publishing industries for previewing layouts and mockups
                            li Lorem ipsum is placeholder text commonly
                            li placeholder text commonly used in the graphic 
                        .clickable
                            a.btn(class="hvr-sweep-to-bottom" href="apply.html") Apply