extend index

block website_title
    title Perfect | plans

block home_index
    div(class="page")
        section(class="plans")
            div(class="container")
                div(class="title")
                    h2 Host
                        span plans
                div(class="plans-content")
                    div(class="row")
                        div(class="col-md-6 col-xl-3 box")
                            div(class="plans-box box wow fadeInUp" data-wow-duration="1s")
                                .plans-type 
                                    h2 paln A
                                .plans-price 
                                    h3 50$
                                    span.per per year
                                .plans-details 
                                    ul
                                        li SPACE : 200 MB
                                        li BANDWIDTH : 5 GB
                                        li POP E-MAIL : UNLIMITED
                                        li RESPONDERS : UNLIMITED
                                        li FORWARDS : 10
                                        li DOMAINS : 1
                        div(class="col-md-6 col-xl-3 box")
                            div(class="plans-box box wow fadeInUp" data-wow-duration="1s")
                                .plans-type 
                                    h2 paln A
                                .plans-price 
                                    h3 100$
                                    span.per per year
                                .plans-details 
                                    ul
                                        li SPACE : 200 MB
                                        li BANDWIDTH : 5 GB
                                        li POP E-MAIL : UNLIMITED
                                        li RESPONDERS : UNLIMITED
                                        li FORWARDS : 10
                                        li DOMAINS : 1
                        div(class="col-md-6 col-xl-3 box")
                            div(class="plans-box box wow fadeInUp" data-wow-duration="1s")
                                .plans-type 
                                    h2 paln A
                                .plans-price 
                                    h3 150$
                                    span.per per year
                                .plans-details 
                                    ul
                                        li SPACE : 200 MB
                                        li BANDWIDTH : 5 GB
                                        li POP E-MAIL : UNLIMITED
                                        li RESPONDERS : UNLIMITED
                                        li FORWARDS : 10
                                        li DOMAINS : 1
                        div(class="col-md-6 col-xl-3 box")
                            div(class="plans-box box wow fadeInUp" data-wow-duration="1s")
                                .plans-type 
                                    h2 paln A
                                .plans-price 
                                    h3 170$
                                    span.per per year
                                .plans-details 
                                    ul
                                        li SPACE : 200 MB
                                        li BANDWIDTH : 5 GB
                                        li POP E-MAIL : UNLIMITED
                                        li RESPONDERS : UNLIMITED
                                        li FORWARDS : 10
                                        li DOMAINS : 1