extend index

block website_title
    title Perfect | our solutions

block home_index
    div(class="page")
        section(class="solutions")
            div(class="container")
                div(class="title")
                    h2 Our 
                        span solutions
                div(class="solutions-content")
                    div(class="row")
                        div(class="col-md-7 col-lg-7")
                            div(class="text-part wow fadeInUp" data-wow-duration="1s")
                                h3 The program name
                                p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups  is placeholder text commonly used in the graphic.
                            div(class="details-part")
                                ul 
                                    li Feature 1 here
                                    li Publishing industries for previewing layouts and mockups
                                    li Lorem ipsum is placeholder text commonly
                                    li placeholder text commonly used in the graphic
                            div(class="buttons-part")
                                a(href="")
                                    i(class="far fa-file-pdf")
                                    | Download pdf 
                                a(href="") 
                                    i(class="fas fa-play")
                                    | Show video
                        div(class="col-md-5 col-lg-5")
                            div(class="image-part wow fadeInUp" data-wow-duration="1s")
                                img(src="../images/solutions/sol.png", alt="", class="")
                    .more 
                        a(href="" class="btn hvr-sweep-to-bottom demo") Request demo
                        a(href="" class="btn hvr-sweep-to-bottom offer") Request offer
        section(class="solutions")
            div(class="container")
                div(class="title")
                    h2 Our 
                        span solutions
                div(class="solutions-content")
                    div(class="row")
                        div(class="col-md-7 col-lg-7")
                            div(class="text-part wow fadeInUp" data-wow-duration="1s")
                                h3 The program name
                                p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups  is placeholder text commonly used in the graphic.
                            div(class="details-part")
                                ul 
                                    li Feature 1 here
                                    li Publishing industries for previewing layouts and mockups
                                    li Lorem ipsum is placeholder text commonly
                                    li placeholder text commonly used in the graphic
                            div(class="buttons-part")
                                a(href="")
                                    i(class="far fa-file-pdf")
                                    | Download pdf 
                                a(href="") 
                                    i(class="fas fa-play")
                                    | Show video
                        div(class="col-md-5 col-lg-5")
                            div(class="image-part wow fadeInUp" data-wow-duration="1s")
                                img(src="../images/solutions/sol.png", alt="", class="")
                    .more 
                        a(href="" class="btn hvr-sweep-to-bottom demo") Request demo
                        a(href="" class="btn hvr-sweep-to-bottom offer") Request offer
        section(class="solutions")
            div(class="container")
                div(class="title")
                    h2 Our 
                        span solutions
                div(class="solutions-content")
                    div(class="row")
                        div(class="col-md-7 col-lg-7")
                            div(class="text-part wow fadeInUp" data-wow-duration="1s")
                                h3 The program name
                                p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups  is placeholder text commonly used in the graphic.
                            div(class="details-part")
                                ul 
                                    li Feature 1 here
                                    li Publishing industries for previewing layouts and mockups
                                    li Lorem ipsum is placeholder text commonly
                                    li placeholder text commonly used in the graphic
                            div(class="buttons-part")
                                a(href="")
                                    i(class="far fa-file-pdf")
                                    | Download pdf 
                                a(href="") 
                                    i(class="fas fa-play")
                                    | Show video
                        div(class="col-md-5 col-lg-5")
                            div(class="image-part wow fadeInUp" data-wow-duration="1s")
                                img(src="../images/solutions/sol.png", alt="", class="")
                    .more 
                        a(href="" class="btn hvr-sweep-to-bottom demo") Request demo
                        a(href="" class="btn hvr-sweep-to-bottom offer") Request offer