extend index

block website_title
    title Perfect | about

block home_index
    div(class="page")
        section(class="about")
            div(class="container")
                div(class="title")
                    h2 Why
                        span choose us
                div(class="about-content")
                    .about-text
                        p Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book text used in laying out print, graphic or web designs.
        section(class="begin")
            div(class="container")
                div(class="begin-content")
                    .begin-box
                        h3 The begin
                        p Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled  text used in laying out print, graphic or web designs.
                    .begin-box
                        h3 The development
                        p Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's..
        section(class="market")
            div(class="container")
                div(class="title")
                    h2 Market
                        span exception
                div(class="market-content")
                    .row 
                        .col-lg-7
                            .market-text
                                p We are always working to develop marketing plans which help us to open new markets in the Arab world and the Middle East,this plans gave good results, now we have agents in Kuwait, Lebanon and Turkey We have implemented successful projects in Kuwait, Lebanon, Saudi Arabia, Turkey and Qatar
                        .col-lg-5
                            .market-image
                                img(src="images/about/map.png", alt="")
        section(class="team")
            div(class="container")
                div(class="title")
                    h2 Our 
                        span team
                div(class="team-content")
                    div(class="row")
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer
                        div(class="col-md-6 col-lg-3")
                            div(class="team-box wow fadeInUp" data-wow-duration="1s")
                                div(class="team-image")
                                    img(src="images/about/person.png", alt="")
                                div(class="team-text")
                                    h3 Ahmed hassan
                                    p Front end developer