extend index

block website_title
    title Perfect | blogs

block home_index
    div(class="page")
        section(class="blogs")
            div(class="container")
                div(class="title")
                    h2
                        span blogs
                div(class="blogs-content")
                    div(class="row")
                        div(class="col-md-6 col-lg-4 box")
                            div(class="blogs-box wow fadeInUp" data-wow-duration="1s")
                                div(class="blogs-image")
                                    img(src="images/blogs/01.png", alt="")
                                div(class="blogs-text")
                                    h3 Title here
                                    p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt. 
                                    div(class="blogs-buttons")
                                        a(href="single-blog.html" class="btn hvr-sweep-to-bottom") See more
                        div(class="col-md-6 col-lg-4 box")
                            div(class="blogs-box wow fadeInUp" data-wow-duration="1s")
                                div(class="blogs-image")
                                    img(src="images/blogs/01.png", alt="")
                                div(class="blogs-text")
                                    h3 Title here
                                    p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.
                                    div(class="blogs-buttons")
                                        a(href="single-blog.html" class="btn hvr-sweep-to-bottom") See more
                        div(class="col-md-6 col-lg-4 box")
                            div(class="blogs-box wow fadeInUp" data-wow-duration="1s")
                                div(class="blogs-image")
                                    img(src="images/blogs/01.png", alt="")
                                div(class="blogs-text")
                                    h3 Title here
                                    p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.
                                    div(class="blogs-buttons")
                                        a(href="single-blog.html" class="btn hvr-sweep-to-bottom") See more
                        div(class="col-md-6 col-lg-4 box")
                            div(class="blogs-box wow fadeInUp" data-wow-duration="1s")
                                div(class="blogs-image")
                                    img(src="images/blogs/01.png", alt="")
                                div(class="blogs-text")
                                    h3 Title here
                                    p Bibendum auctor justo, ac bibendum neque sollicitudin ac. Duis feugiat non urna nec tincidunt.
                                    div(class="blogs-buttons")
                                        a(href="single-blog.html" class="btn hvr-sweep-to-bottom") See more