extend index

block website_title
    title Perfect | contact

block home_index
    div(class="page")
        section(class="contact")
            div(class="container")
                div(class="title")
                    h2 contact
                        span us
                div(class="contact-info")
                    div(class="row")
                        div(class="col-md-6 col-lg-6")
                            div(class="info-content wow fadeInUp" data-wow-duration="1s")
                                div(class='info-box')
                                    i(class='fas fa-map-marker-alt')
                                    span Address
                                    p 188 name st, el mohandseen, Egypt
                                div(class='info-box')
                                    i(class='fas fa-envelope')
                                    span Email
                                    p
                                        a(href='mailto:mail@mai.com') mail@mai.com -
                                        a(href='mailto:mail@yahoo.com') mail@yahoo.com
                                div(class='info-box')
                                    i(class='fas fa-phone-alt')
                                    span phone
                                    p
                                        a(href='tel:201988209222') 201988209222
                                div(class='info-box')
                                    i(class='fab fa-whatsapp')
                                    span WhatsApp
                                    p 
                                        a(href='') 201988209222
                        div(class="col-md-6 col-lg-6")
                            .branchs 
                                .branch
                                    .icon 
                                        img(src="images/icons/01.png", alt="")
                                    .text 
                                        h3 Iraq branch
                                        p
                                            a(href="tel:+51 0292811100") +51 0292811100 
                                .branch
                                    .icon 
                                        img(src="images/icons/02.png", alt="")
                                    .text 
                                        h3 Kuwait branch
                                        p
                                            a(href="tel:+51 0292811100") +51 0292811100 
            div(class="contact-form")
                div(class="container")
                    div(class="row")
                        div(class="col-md-12 col-lg-6")
                            .map
                                div(class="subtitle")
                                    h3 location
                                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.60389552709!2d31.32850511449987!3d30.059618470287788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2z2KfZhNmC2KfZh9ix2KnYjCDZhdit2KfZgdi42Kkg2KfZhNmC2KfZh9ix2KnigKw!5e0!3m2!1sar!2seg!4v1616602734476!5m2!1sar!2seg" style="border:0;" allowfullscreen="" loading="lazy")
                        div(class="col-md-12 col-lg-6")
                            div(class='form-area')
                                div(class="subtitle")
                                    h3 Leave your message
                                form(action='')
                                    .row
                                        div(class="col-lg-6")
                                            div(class='form-group')
                                                input(placeholder='First name' class='form-control' type='text')
                                        div(class="col-lg-6")
                                            div(class='form-group')
                                                input(placeholder='Last name' class='form-control' type='text')
                                        div(class="col-lg-12")            
                                            div(class='form-group')
                                                input(placeholder='Email' class='form-control' type='email')
                                        div(class="col-lg-12")            
                                            div(class='form-group')
                                                input(placeholder='Phone number' class='form-control' type='text')
                                        div(class="col-lg-12")            
                                            div(class='form-group')
                                                textarea(rows='6' placeholder='Message...' class='form-control')
                                        div(class="col-lg-12")               
                                            div(class='form-group subm')
                                                button(class='btn btn-danger hvr-sweep-to-bottom' type='submit') Send
                                        div(class="col-lg-12")               
                                            div(class='text-center')
                                                p(class='successfully') Message Sent Successfully 
                                
