extend index

block website_title
    title Perfect | portfolio

block home_index
    div(class="page")
        section(class="portfolio")
            div(class="container")
                div(class="title")
                    h2 Our
                        span projects
                div(class="portfolio-content")
                    div(class="row")
                        div(class="col-md-6 col-lg-4 box")
                            div(class="portfolio-box wow fadeInUp" data-wow-duration="1s")
                                div(class="portfolio-image")
                                    img(src="@/assets/images/portfolio/01.png", alt="")
                                    h3 Project name
                                div(class="portfolio-text")
                                    p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual graphic.
                                div(class="portfolio-buttons")
                                    a(href="" class="btn hvr-sweep-to-bottom") Project link
                        div(class="col-md-6 col-lg-4 box")
                            div(class="portfolio-box wow fadeInUp" data-wow-duration="1s")
                                div(class="portfolio-image")
                                    img(src="images/portfolio/01.png", alt="")
                                    h3 Project name
                                div(class="portfolio-text")
                                    p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual graphic.
                                div(class="portfolio-buttons")
                                    a(href="" class="btn hvr-sweep-to-bottom") Project link
                        div(class="col-md-6 col-lg-4 box")
                            div(class="portfolio-box wow fadeInUp" data-wow-duration="1s")
                                div(class="portfolio-image")
                                    img(src="images/portfolio/01.png", alt="")
                                    h3 Project name
                                div(class="portfolio-text")
                                    p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual graphic.
                                div(class="portfolio-buttons")
                                    a(href="" class="btn hvr-sweep-to-bottom") Project link
                        div(class="col-md-6 col-lg-4 box")
                            div(class="portfolio-box wow fadeInUp" data-wow-duration="1s")
                                div(class="portfolio-image")
                                    img(src="images/portfolio/01.png", alt="")
                                    h3 Project name
                                div(class="portfolio-text")
                                    p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual graphic.
                                div(class="portfolio-buttons")
                                    a(href="" class="btn hvr-sweep-to-bottom") Project link
                        div(class="col-md-6 col-lg-4 box")
                            div(class="portfolio-box wow fadeInUp" data-wow-duration="1s")
                                div(class="portfolio-image")
                                    img(src="images/portfolio/01.png", alt="")
                                    h3 Project name
                                div(class="portfolio-text")
                                    p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual graphic.
                                div(class="portfolio-buttons")
                                    a(href="" class="btn hvr-sweep-to-bottom") Project link
                        div(class="col-md-6 col-lg-4 box")
                            div(class="portfolio-box wow fadeInUp" data-wow-duration="1s")
                                div(class="portfolio-image")
                                    img(src="images/portfolio/01.png", alt="")
                                    h3 Project name
                                div(class="portfolio-text")
                                    p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual graphic.
                                div(class="portfolio-buttons")
                                    a(href="" class="btn hvr-sweep-to-bottom") Project link