extend index

block website_title
    title Perfect | services

block home_index
    div(class="page")
        //services page
        include includes/home-services.pug
        
        include includes/home-steps.pug
        //services page