extend index

block website_title
    title Perfect | single blog

block home_index
    div(class="page")
        section(class="single-blog")
            div(class="container")
                div(class="single-blog-content")
                    div(class="single-blog-box wow fadeInUp" data-wow-duration="1s")
                        div(class="post-image")
                            img(src="images/blogs/single.png", alt="")
                        div(class="post-text")
                            h2.post-title Title of blog
                            p.post-details Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum in laying out print, graphic or web designs.