section(class="solutions")
    div(class="lines")
        div(class="line")
        div(class="line")
    div(class="container")
        div(class="title")
            h2 الحلول  
                span البرمجية
        div(class="solutions-content")
            div(class="row")
                div(class="col-md-7 col-lg-7")
                    div(class="text-part wow fadeInUp" data-wow-duration="1s")
                        h3 اسم البرنامج
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او.
                    div(class="details-part")
                        ul 
                            li الميزة الأولى هنا
                            li صناعات النشر لمعاينة التخطيطات والنماذج بالأحجام الطبيعية
                            li بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او.
                            li يشيع استخدام نص العنصر النائب في الرسم
                    div(class="buttons-part")
                        a(href="")
                            i(class="far fa-file-pdf")
                            | تنزيل الملف
                        a(href="") 
                            i(class="fas fa-play")
                            | عرض الفيديو
                div(class="col-md-5 col-lg-5")
                    div(class="image-part wow fadeInUp" data-wow-duration="1s")
                        img(src="../images/solutions/sol.png", alt="", class="")
            .more 
                a(href="" class="btn hvr-sweep-to-bottom") طلب عرض