section(class="cost")
    div(class="container")
        div(class="cost-content")
            div(class="title")
                h2 يمكنك حساب تكلفة موقعك
            .buttons-part 
                a(href="" class="btn hvr-sweep-to-bottom") احسب الآن
            div(class="cost")
                