section(class="offers")
    div(class="container")
        div(class="title")
            h2 عروضنا 
        div(class="offers-content")
            div(class="row")
                div(class="col-md-12 col-lg-4 box")
                    div(class="offers-box wow fadeInUp" data-wow-duration="1s")
                        div(class="offers-image")
                            img(src="../images/offers/01.png", alt="")
                        div(class="offers-text")
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او.
                        div(class="offers-buttons")
                            a(href="" class="btn hvr-sweep-to-bottom") اطلب العرض
                div(class="col-md-12 col-lg-4 box")
                    div(class="offers-box wow fadeInUp" data-wow-duration="1s")
                        div(class="offers-image")
                            img(src="../images/offers/02.png", alt="")
                        div(class="offers-text")
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او.
                        div(class="offers-buttons")
                            a(href="" class="btn hvr-sweep-to-bottom") اطلب العرض
                div(class="col-md-12 col-lg-4 box")
                    div(class="offers-box wow fadeInUp" data-wow-duration="1s")
                        div(class="offers-image")
                            img(src="../images/offers/03.png", alt="")
                        div(class="offers-text")
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او.
                        div(class="offers-buttons")
                            a(href="" class="btn hvr-sweep-to-bottom") اطلب العرض