section(class="steps")
    div(class="container")
        div(class="title")
            h2 خطوات 
                span المشروع
        div(class="steps-content")
            div(class="box")
                div(class="steps-box wow fadeInUp" data-wow-duration="1s")
                    span.step 1
                    div(class="steps-icon")
                        img(src="../images/steps/01.png" class="img-fluid" alt="")
                    div(class="steps-details")
                        h3 البحث
            div(class="box")
                div(class="steps-box wow fadeInUp" data-wow-duration="1s")
                    span.step 2
                    div(class="steps-icon")
                        img(src="../images/steps/02.png" class="img-fluid" alt="")
                    div(class="steps-details")
                        h3 التحليل
            div(class="box")
                div(class="steps-box wow fadeInUp" data-wow-duration="1s")
                    span.step 3
                    div(class="steps-icon")
                        img(src="../images/steps/03.png" class="img-fluid" alt="")
                    div(class="steps-details")
                        h3 التصميم
            div(class="box")
                div(class="steps-box wow fadeInUp" data-wow-duration="1s")
                    span.step 4
                    div(class="steps-icon")
                        img(src="../images/steps/04.png" class="img-fluid" alt="")
                    div(class="steps-details")
                        h3 التطوير
            div(class="box")
                div(class="steps-box wow fadeInUp" data-wow-duration="1s")
                    span.step 5
                    div(class="steps-icon")
                        img(src="../images/steps/05.png" class="img-fluid" alt="")
                    div(class="steps-details")
                        h3 الاختبار