section.slider(dir="ltr")
    .slider-content
        .slider-carousel.owl-carousel.owl-theme
            .single-slide(style="background-image: url(../images/slider/slider.png);")
                .container
                    .slider-text
                        h2 برفكت وورك جروب 
                            span شركة سوف وير 
                        p برفكت وورك جروب هي شركة محترفة تعمل في ثلاثة حلول برمجية لمجالات العمل الرئيسية حلول الويب، تطوير تطبيقات الهاتف المحمول
            .single-slide(style="background-image: url(../images/slider/slider.png);")
                .container
                    .slider-text
                        h2 برفكت وورك جروب 
                            span شركة سوف وير 
                        p برفكت وورك جروب هي شركة محترفة تعمل في ثلاثة حلول برمجية لمجالات العمل الرئيسية حلول الويب، تطوير تطبيقات الهاتف المحمول
            .single-slide(style="background-image: url(../images/slider/slider.png);")
                .container
                    .slider-text
                        h2 برفكت وورك جروب 
                            span شركة سوف وير 
                        p برفكت وورك جروب هي شركة محترفة تعمل في ثلاثة حلول برمجية لمجالات العمل الرئيسية حلول الويب، تطوير تطبيقات الهاتف المحمول

section.search
    .container
        .search-content 
            .row 
                .col-lg-6.box
                    .part 
                        h2.subtitle ابحث عن أفضل الدومينات
                        .slugins 
                            a(href="") .Net 
                            a(href="") .com 
                            a(href="") .site 
                            a(href="") .online 
                            a(href="") .website 
                .col-lg-6.box
                    .part 
                        form(action="") 
                            .input-group
                                .form-outline
                                    input.form-control(type='search' placeholder="بحث...")
                                    button.btn.hvr-sweep-to-right(type='button') بحث 